In [2]:
import pandas as pd
import numpy as np

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

C:\Users\ruiya\Anaconda3\python\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
# upload the df you need to do name matching
# df1 = pd.read_csv('df1.csv')
# df2 = pd.read_csv('df2.csv')

In [4]:
def fuzz_match(col_name1, col_name2, cutoff):
    # col_name1: supposed to be matched against col_name2
    # cutoff:  used as a benchmark(score out of 100)
    # Making sure col_name1 do not have None value
    
    col_name1 = col_name1.fillna('None')
    list1 = []
    n=0
    for i in col_name1:
        match_res1 = process.extractOne(i, col_name2, scorer = fuzz.partial_ratio, score_cutoff=cutoff)
        list1.append(match_res1)
        n += 1
        
        if n == 1:
            print('Ahhaaaaaa!! Coffee Time!')
        elif n in [int(0.05*len(col_name1)),int(0.10*len(col_name1)),int(0.15*len(col_name1)),int(0.2*len(col_name1)),int(0.3*len(col_name1)),int(0.4*len(col_name1)),int(0.5*len(col_name1)),int(0.6*len(col_name1)),int(0.7*len(col_name1)),int(0.8*len(col_name1)),int(0.9*len(col_name1))]:
            print('Loading... %s pct Finished' %int(100*n/len(col_name1)+1))
        elif n == len(col_name1):
            print('Almost done! ')
        
        
    list2 = []
    for i in col_name1:
        match_res2 = process.extractOne(i, col_name2, scorer = fuzz.ratio, score_cutoff=cutoff)
        list2.append(match_res2)
    # Using two fuzz method to improve accuracy
    
    lists = [[] for i in range(4)]

    for i in list1:
        if i==None:
            lists[0].append(None)
            lists[1].append(None)
        else:
            lists[0].append(i[0])
            lists[1].append(i[1])

    for i in list2:
        if i==None:
            lists[2].append(None)
            lists[3].append(None)
        else:
            lists[2].append(i[0])
            lists[3].append(i[1])
            
    match = pd.DataFrame()
    match['origin'] = col_name1.reset_index(drop = True) # Pay attention to the index of col_name1
    match['partial_ratio_match'] = pd.Series(lists[0])
    match['score1'] = pd.Series(lists[1])
    match['ratio_match'] = pd.Series(lists[2])
    match['score2'] = pd.Series(lists[3])
    return match

In [5]:
output = fuzz_match(col_name1 = df1['name'], col_name2 = df2['NAME'], cutoff=70)
output

Loading... 4 pct Finished
Loading... 8 pct Finished
Loading... 12 pct Finished
Ahhaaaaaa!! Coffee Time!
Loading... 27 pct Finished
Loading... 39 pct Finished
Loading... 51 pct Finished
Loading... 58 pct Finished
Loading... 70 pct Finished
Loading... 77 pct Finished
Loading... 89 pct Finished
Almost done!

,origin,partial_ratio_match,score1,ratio_match,score2
0,Apple Corp,Apple Corporation,100,Apple Corporation,74.0
1,Allianz SE,ALLIANZ SE-REG,100,ALLIANZ SE-REG,83.0
2,Coface,COFACE SA,100,COFACE SA,80.0
3,Assystem,ASSYSTEM,100,ASSYSTEM,100.0
4,Rio Tinto plc,Rio Tinto Ltd,85,Rio Tinto Ltd,85.0
5,thyssenkrupp AG,ThyssenKrupp AG,100,ThyssenKrupp AG,100.0
6,SFS Group AG,SFS GROUP AG,100,SFS GROUP AG,100.0
7,Vallourec,Vallourec SA,100,Vallourec SA,86.0
8,Nutrien Ltd.,Nutrien Ltd,100,Nutrien Ltd,100.0
9,Teleperformance S.E.,Teleperformance SA,94,Teleperformance SA,92.0
10,ASR Nederland N.V.,ASR NEDERLAND NV,94,ASR NEDERLAND NV,97.0
11,Datamatics Global Services Limited,DATAMATICS GLOBAL SERVICES,100,DATAMATICS GLOBAL SERVICES,87.0
12,GlaxoSmithKline,Glaxosmithkline Plc,100,Glaxosmithkline Plc,88.0
13,"WESCO International, Inc",Wesco International Inc,96,Wesco International Inc,98.0
14,TE Connectivity,TE Connectivity Ltd,100,TE Connectivity Ltd,88.0
15,BAIDU,Baidu Inc,100,Baidu Inc,71.0
16,Enel,Enel Societa Per Azioni,100,None,NaN
17,ams AG,ams AG,100,ams AG,100.0
18,HomeServe,HOMESERVE PLC,100,HOMESERVE PLC,82.0
19,Investor AB,Investor Ab,100,Investor Ab,100.0
20,Hexaware Technologies,HEXAWARE TECHNOLOGIES LTD,100,HEXAWARE TECHNOLOGIES LTD,91.0
21,SBS,Sbs Broadcasting S A,100,None,NaN
22,Orange Tunisie,Orange,100,None,NaN
23,Interroll Holding AG,INTERROLL HOLDING AG-REG,100,INTERROLL HOLDING AG-REG,91.0
24,China United Network Communications Group Comp...,CHINA UNITED NETWORK-A,95,None,NaN
25,Novo Nordisk AS,Novo Nordisk A S,93,Novo Nordisk A S,97.0

In [ ]:
# manually to filter the name whether they are correctly matched